@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
}

#container {
    display: flex;
    padding: 1.3rem 20rem;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
    width: 100%;
}

#box {
    display: flex;
}

#searchbar {
    display: flex;
    border: 0.1rem solid rgba(0, 0, 0, 0.13);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.07);
}

a {
    text-decoration-line: none;
}

#upload_container, #connection_container {
    border: 0.1rem solid rgba(0, 0, 0, 0.13);
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
}

#upload, #connection {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
}

#box {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#connection_container {
    background-color: #fe2c55;
}

#connection {
    color: white;
}

#search > input {
    padding: 0.8rem;
    width: 20rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
}

#logo_search {
    border-left: 0.1rem solid black;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
}

#home {
    width: 65%;
    margin: 2rem auto;
    display: flex;
}

#for_you {
    width: 27%;
    display: flex;
    flex-direction: column;
}

#link_bar {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
}

.link {
    color: black;
    font-weight: bold;
}

#video {
    width: 65%;
}

i, #info {
    padding: 1.2rem;
}

#info {
    margin: 1.5rem 0;
}

#color_red {
    color: #fe2c55;
}

#info > p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.42);
}

#connect {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
    padding-bottom: 2rem;
}

#connect > p {
    text-align: center;
    border: 0.1rem solid #fe2c55;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #fe2c55;
    border-radius: 0.5rem;
}

